body{
	background: #eee;
}
#frame{
	border: solid black 2px;
	width: 20%;
	border-radius: 20px;
	margin: 150px;
	background: white;
}
#button{
		color: #fff;
		background: #6495ED;
		padding: 5px;
		margin-Left: 80%;
}
