#board {
	width: 539px;
	height: 462px;
	border: 1px solid blue; 
	margin: auto;
}

.hole {
	width: 75px;
	height: 75px;
	border: 1px solid blue;
	float: left;
	text-align: center;
	vertical-align: middle;
	line-height: 75px;
	font-size: 1px;
}

.empty {
	background-color: white;
	color: white;
}

.occupied {
}

.player {
	background-color: red;	
	color: red;
}

.computer {
	background-color: yellow;	
	color: yellow;
}
