body{
	background: #eee;
}
#frame1{
	border: solid black 2px;
	width: 20%;
	border-radius: 20px;
	margin: 150px;
	background: white;
}
#frame2{
	border: solid black 2px;
	width: 15%;
	border-radius: 20px;
	margin: 100px;
	background: white;
}
#button{
		color: #fff;
		background: #6495ED;
		padding: 5px;
		margin-Left: 80%;
}
